@model BlogRequestModel

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Blog Form</h4>
        </div>
    </div>
    <div class="card-body">
        <form class="form-horizontal" method="post" action="/Blogs/Create" enctype="multipart/form-data">
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="BlogTitle">Blog Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-3" id="BlogTitle" placeholder="Enter Your  Title" name="BlogTitle">
                    <span class="text-danger" asp-validation-for="BlogTitle"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="BlogAuthor">Blog Author</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-3" id="BlogAuthor" placeholder="Enter Your  Author" name="BlogAuthor">
                    <span class="text-danger" asp-validation-for="BlogAuthor"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="BlogImage">Blog Image</label>
                <div class="col-sm-9">
                    <input type="file" class="form-control mb-3" id="BlogImage" name="BlogImage" multiple="false">
                    <span class="text-danger" asp-validation-for="BlogImage"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="content">Blog Content</label>
                <div class="col-sm-9">
                    <textarea class="form-control form-control-sm mb-3" id="content" rows="3" name="BlogContent"></textarea>
                    <span class="text-danger" asp-validation-for="BlogContent"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

